<div class="shadow-lg rounded-xl bg-white p-3">
    <form>
        <p>Envíame un mensaje</p>
        <div>
            <div>
                <label>Nombre *</label>
                <input type="text" required>
            </div>
            <div>
                <label>Email *</label>
                <input type="email" required>
            </div>
        </div>
        <div>
            <label>Asunto *</label>
            <input type="text" required>
        </div>
        <div>
            <label>Mensaje *</label>
            <input type="text" required>
        </div>
    </form>
</div>