---
---
<header class="sticky top-0 z-50 backdrop-blur-sm">
    <div class="flex justify-between items-center px-6 py-6">
        <div class="pt-2">
            <a href="#inicio"><p class="text-[#33CE33] text-2xl font-bold drop-shadow-[0_0_8px_rgba(51,206,51,0.6)]">
                PORTFOLIO
            </p></a>
        </div>
        <nav class="hidden lg:flex">
            <ul class="list-none flex gap-8 text-[14px] font-bold text-gray-500">
                <li><a href="#inicio" class="nav-link hover:text-[#33CE33] cursor-pointer transition-colors duration-200">INICIO</a></li>
                <li><a href="#sobre-mi" class="nav-link hover:text-[#33CE33] cursor-pointer transition-colors duration-200">SOBRE MÍ</a></li>
                <li><a href="#tecnologias" class="nav-link hover:text-[#33CE33] cursor-pointer transition-colors duration-200">TECNOLOGÍAS</a></li>
                <li><a href="#experiencia" class="nav-link hover:text-[#33CE33] cursor-pointer transition-colors duration-200">EXPERIENCIA</a></li>
                <li><a href="#proyectos" class="nav-link hover:text-[#33CE33] cursor-pointer transition-colors duration-200">PROYECTOS</a></li>
                <li><a href="#contacto" class="nav-link hover:text-[#33CE33] cursor-pointer transition-colors duration-200">CONTACTO</a></li>
            </ul>
        </nav>
        <button id="menu-btn" class="lg:hidden flex flex-col justify-center items-center w-8 h-8 relative z-50">
            <span class="block w-8 h-1 bg-[#33CE33] mb-1 transition-all"></span>
            <span class="block w-8 h-1 bg-[#33CE33] mb-1 transition-all"></span>
            <span class="block w-8 h-1 bg-[#33CE33] transition-all"></span>
        </button>
    </div>
    <nav id="menu-movil" class="hidden lg:hidden absolute top-full left-0 w-full bg-[#F4F5F6] shadow-md">
        <ul class="flex flex-col gap-4 text-center py-6 text-gray-500 font-bold">
            <li><a href="#inicio" class="nav-link hover:text-[#33CE33]">INICIO</a></li>
            <li><a href="#sobre-mi" class="nav-link hover:text-[#33CE33]">SOBRE MÍ</a></li>
            <li><a href="#tecnologias" class="nav-link hover:text-[#33CE33]">TECNOLOGÍAS</a></li>
            <li><a href="#experiencia" class="nav-link hover:text-[#33CE33]">EXPERIENCIA</a></li>
            <li><a href="#proyectos" class="nav-link hover:text-[#33CE33]">PROYECTOS</a></li>
            <li><a href="#contacto" class="nav-link hover:text-[#33CE33]">CONTACTO</a></li>
        </ul>
    </nav>
</header>