<section id="inicio">
    <div class="flex flex-col items-center justify-center text-center gap-4 mt-20 mb-40">
        <div>
            <p class="text-[#33CE33] text-[95px] font-bold drop-shadow-[0_0_8px_rgba(51,206,51,0.6)] [animation:bounceUp_4s_ease-in-out_infinite]">&#123;Carlos.Pacheco&#125;</p>
            <div class="border-b-4 border-b-[#33CE33] mx-85"></div>
        </div>
        <div>
            <p class="text-gray-500 text-xl">passion: <span class="text-[#33CE33]">&#34;coding&#34;</span></p>
        </div>
        <div>
            <p class="font-bold text-[60px] text-gray-900">Desarrollador Full Stack</p>
            <p class="text-gray-500 text-[21px]">Creando experiencias web modernas y soluciones digitales innovadoras con <br> tecnologías de vanguardia</p>
        </div>
        <div class="flex gap-5 mt-3">
            <div>
                <a href="#" class="bg-[#33CE33] w-full cursor-pointer text-white py-2 px-8 text-lg font-semibold rounded-lg inline-block text-center hover:scale-[1.05] ease-in-out duration-300 hover:bg-[#41e841]">
                    Ver proyectos
                </a>
            </div>
            <div>
                <a href="#" class="border-[#33CE33] border-1 w-full cursor-pointer text-[#33CE33] py-2 px-8 text-lg font-semibold rounded-lg inline-block text-center hover:scale-[1.05] ease-in-out duration-300 hover:bg-[#33CE33] hover:text-white">
                    Contactar
                </a>
            </div>
        </div>
    </div>
</section>

<style>
  @keyframes bounceUp {
    0%, 100% {
      transform: scale(1) translateY(0);
    }
    50% {
      transform: scale(1.05) translateY(-6px);
    }
  }
</style>