---
import TarjetaTecnologias from "../components/TarjetaTecnologias.astro";
const tarjetas = [
    {
        titulo: "Frontend",
        tecnologias: [
            {nombre: "HTML", img: "/src/assets/html.svg"},
            {nombre: "CSS", img: "/src/assets/css.svg"},
            {nombre: "Angular", img: "/src/assets/angular.svg"},
            {nombre: "TailwindCSS", img: "/src/assets/tailwindcss.svg"},
            {nombre: "Bootstrap", img: "/src/assets/bootstrap.svg"},
            {nombre: "TypeScript", img: "/src/assets/typescript.svg"},
            {nombre: "JavaScript", img: "/src/assets/javascript.svg"}
        ]
    },
    {
        titulo: "Backend",
        tecnologias: [
            {nombre: "Java", img: "/src/assets/java.svg"},
            {nombre: "Spring Boot", img: "/src/assets/spring-boot.svg"},
            {nombre: "MySQL", img: "/src/assets/mysql.svg"},
            {nombre: "Oracle", img: "/src/assets/oracle-letras.svg"},
            {nombre: "Maven", img: "/src/assets/maven.svg"},
            {nombre: "JWT", img: "/src/assets/jwt.png"},
        ]
    },
    {
        titulo: "Herramientas",
        tecnologias: [
            {nombre: "Git", img: "/src/assets/git.svg"},
            {nombre: "GitHub", img: "/src/assets/github.svg"},
            {nombre: "Docker", img: "/src/assets/docker.svg"},
            {nombre: "VSCode", img: "/src/assets/vscode.svg"},
            {nombre: "Eclipse", img: "/src/assets/eclipse.svg"},
            {nombre: "Firebase", img: "/src/assets/firebase.svg"},
            {nombre: "npm", img: "/src/assets/npm.svg"},
            {nombre: "OpenAI", img: "/src/assets/openai.svg"},
        ]
    },
    {
        titulo: "Aprendiendo",
        tecnologias: [
            {nombre: "Astro", img: "/src/assets/astroLogo.svg"},
            {nombre: "React Native", img: "/src/assets/react-native.svg"},
            {nombre: "MongoDB", img: "/src/assets/mongodb.svg"},
        ]
    },
]
---

<section id="tecnologias">
    <div>
        <div class="flex flex-col items-center justify-center px-10">
            <p class="text-[30px] font-bold drop-shadow-[0_0_8px_rgba(51,206,51,0.6)] mt-20">Tecnologías</p>
            <div class="border-b-4 border-b-[#33CE33] w-15 mt-5"></div>
            <p class="text-center text-sm sm:text-lg leading-relaxed mt-5 mb-8 text-gray-500">En mi viaje por el mundo del desarrollo web, he cultivado experiencia y habilidades en una variedad de tecnologías. Mi stack tecnológico incluye:</p>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 md:px-20 mb-24">
            {tarjetas.map(tarjeta => (
                <TarjetaTecnologias titulo={tarjeta.titulo} tecnologias={tarjeta.tecnologias} />
            ))}
        </div>
    </div>
</section>