---
import TarjetaTecnologias from "../components/TarjetaTecnologias.astro";
const tarjetas = [
    {
        titulo: "Frontend",
        tecnologias: [
            {nombre: "HTML", img: "/src/assets/html.svg"}
        ]
    }
]
---

<section id="tecnologias">
    <div>
        <div class="flex flex-col items-center justify-center px-10">
            <p class="text-[30px] font-bold drop-shadow-[0_0_8px_rgba(51,206,51,0.6)] mt-20">Tecnologías</p>
            <div class="border-b-4 border-b-[#33CE33] w-15 mt-5"></div>
            <p class="text-center text-sm sm:text-lg leading-relaxed mt-5 text-gray-500">En mi viaje por el mundo del desarrollo web, he cultivado experiencia y habilidades en una variedad de tecnologías. Mi stack tecnológico incluye:</p>
        </div>
        <div>
            {tarjetas.map(tarjeta => (
                <TarjetaTecnologias titulo={tarjeta.titulo} tecnologias={tarjeta.tecnologias} />
            ))}
        </div>
    </div>
</section>